.catalogue {
  padding: 90px 0px 60px 0px;

  .categories {
    &__breadcrumbs {
      margin-bottom: 15px;
      ul {
        display: flex;
        li {
          font-size: 16px;
          text-transform: capitalize;
          letter-spacing: 0.02em;
          color: $text;

          a {
            font-weight: 100;
          }
        }
        li + li {
          margin-left: 5px;
        }
      }
    }
    &__main {
      display: grid;
      gap: 30px;
      grid-template-columns: 0.6fr 2fr;

      &List {
        ul {
          padding: 15px 20px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          border-radius: 13px;
          li {
            display: inline-block;

            a {
              position: relative;
              clear: both;
              float: left;
            }
            a:hover::before {
              content: "";
              position: absolute;
              left: 0;
              width: 100%;
              transform: skew(-12deg);
              bottom: 3px;
              z-index: -1;
              height: 8px;
              bottom: 0;
              opacity: 0.7;
              background-color: $paleGreen;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .catalogue {
    .categories {
      &__main {
        grid-template-columns: 1fr 2fr;
      }
    }
  }
}

@media (max-width: 760px) {
  .catalogue {
    .categories {
      &__main {
        grid-template-columns: 1fr 1.5fr;
      }
    }
  }
}

@media (max-width: 580px) {
  .catalogue {
    .categories {
      &__main {
        grid-template-columns: auto;
        &List {
          display: none;
        }
      }
    }
  }
}
