@import "../main/variables.scss";

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;

  &Contacts {
    a {
      color: $gray-400;
      font-weight: 300;
    }
    span {
      color: $gray-400;
      margin: 0px 5px;
    }
  }

  &Delivery {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }

    &__info {
      max-width: 200px;
      width: 100%;
      p {
        font-size: 12px;
        font-weight: 300;
        color: $gray-400;
      }
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  &Logo {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
    h3 {
      font-size: 24px;
      color: $text;
    }
  }
  &List {
    display: flex;
    &__item {
      font-size: 16px;
      color: $text;
      cursor: pointer;

      a {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        position: relative;

        &:hover {
          color: $textHover;
        }
      }
      a.active {
        &::before {
          content: "";
          position: absolute;
          top: 8px;
          left: 15px;
          width: 40px;
          height: 8px;
          transform: skew(-12deg) translateX(-50%);
          background: $paleGreen;
          z-index: -1;
        }
      }
    }

    &__item + li,
    &__item:first-child {
      margin-right: 14px;
    }
  }
  &Cart {
    display: flex;

    &__icon {
      margin-right: 10px;
    }
  }
}

@media (max-width: 860px) {
  .nav {
    &List {
      display: none;
    }
  }
  .banner {
    flex-direction: column;
    &Delivery {
      width: 100%;

      &__info {
        max-width: unset;
      }
    }
  }
}
