.auto__container {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 21px;
}

.buttonMain {
  background-color: $brightGreen;
  border-radius: 13px;
  padding: 14px 54px;
  color: #fff;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #82d14a;
  }
}

.contactBtn {
  width: 100%;
  border: 1px solid $brightGreen;

  border-radius: 13px;
  padding: 4px 16px;
  font-size: 13px;
  transition: background-color 0.3s ease-in-out;
  
  &:hover {
    background-color: #82d14a;
    color: #fff;
  }
}

.buttonBuy {
  background-color: $brightGreen;
  border-radius: 13px;
  font-size: 12px;
  padding: 4px 16px;
  color: #fff;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #82d14a;
  }
}

.buttonBuyAlt {
  // background-color: $brightGreen;
  border-radius: 13px;
  border: 1px solid $brightGreen;
  font-size: 12px;
  padding: 4px 16px;
  color: $text;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #82d14a;
  }
}
